@font-face {
    font-family: Century Gothic ;
}
html{
    scroll-behavior: smooth;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  opacity: 0.6;
  cursor: pointer;
    background: none;
}
#myBtn:hover{
    opacity: 1;
}

body{
    font-family: "Century Gothic";
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url(IMG/spaceout.gif);
    background-color: #0b0c22;
    margin: 0;
    overflow: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
     box-shadow: 0 5px 5px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar{
    width: 25px;
}
::-webkit-scrollbar-track{
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        lightpink,
        darkorange);
    border-radius: 3px;
}

nav {
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2vh;
    list-style-type: none;
}

 ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.3em;
    list-style-type: none;
}
 ul li a:hover{
     color: darkviolet;
 }

header{
    width: 100%;
    height: 5vh;
}
header h{
    font-size: 45px;
    height: 350px;
}





/* HEADER CONTENT*/




.bg {
    widows: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(IMG/spaceout.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}


.kolom{
     width: 20%;
     height: 60%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     border-radius: 75px;
     overflow: hidden;
     opacity: 0.8;
     margin: 1cm;
     padding: 0.5cm;
     transition: 0.2s ease;
     margin-top: 0.5cm;
 }
.kolom:hover{
    width:25%;
    height: 70%;
}

.kolom .hover img{
    transform: rotate(40deg);
}

 .kolom .atas{
     width: 100%;
     height: 60%;
     background: #2c3e50;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .kolom .atas img{
     width: 70%;
 }

 .kolom .tengah{
     width: 100%;
     height: 10%;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #232323;

 }

 .kolom .bawah{
     width: 100%;
     height: 30%;
     background: #f0f0f0;
     display: flex;
     justify-content: center;
     color: #333;
 }
 .kolom  p{
     width: 80%;
     height: auto;
     text-align: center;
     justify-items: center;
     margin-top: 1.3cm;
 }


/*PROFILE*/

.profiletext{
    color: beige;
    text-align: left;
    margin-left: 3cm;
}
.profiletext h1{
    color: yellow;
    font-size: 2.5em;
}
.profiletext p{
    font-size: 1.2em;
}
.profiletext img{
    float: right;
    display: flex;
    margin-right: 2.5cm;
    margin-top: 1.3cm;
    align-items: center;
    width: 20%;
}
.profiletext img:hover{
    transform: rotate(45deg);
    transition: 0.2s ease;
    opacity: 0.9;
    width: 25%;
}
.profiletext a{
    color: beige;
}
/*space*/
.space {
  margin-top: 200px;
}


/*INFORMATION*/

.inftext img{
    width: 70%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 2cm ;
    padding: 0.5cm;
}
.inftext h1{
    color: yellow;
    font-size: 2.5em;
    margin: 0.5;
    text-align: center;

}
.inftext p{
    color: beige;
    margin-left: 1.5cm;
    text-align: left;
    margin-right: 3cm;
    font-size: 1.2em;
}


/*FOOTER*/
footer{
    widows: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)),
                url(IMG/spaceout.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footertitle{
     height: 55%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1cm;
}
.footertitle h1{
    color: #f0f0f0;
}
.footercontent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #f0f0f0;
}
.footercontent a{
    color: yellow;
}
i{
    color: red;
}
.footerp{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}




